# ignore all files and directories except the scripts used during the daily workflow
*

# Daily workflow scripts
!/CLEANUP
!/DVU
!/DOM_VIDEO_UPLOAD
!/ENC
!/PROD_VIDEO_ENCODE
!/PROD_VIDEO_UPLOAD
!/PROMO
!/PROMO_UPLOAD
!/customEncode.sh
!/domenic_upload
!/g1080_enc.sh
!/g720_enc.sh
!/gWM.sh
!/gsk_encode.sh
!/sk_encode.sh
!/upload2SK
!/upload2Beer.sh
!/synology_backup.sh
!/new_synology_backup.sh
!/id3tagger.bash
!/show_live.bash
!/tmux_servers.sh
!/ddns_cron.bash
!/post_enc_promo.bash
!/rsync_filters/
!/rsync_filters/*
!/rsync_filters/unused_filters/
!/rsync_filters/unused_filters/*

!/AUTO_ENC
!/LAZY_PROMO
!/LAZY_PROMO_UPLOAD
